*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E6F9AF;
}
h1{
    background-color:#0D0630;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-style: oblique;
    font-size: 45px;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color:#18314F ;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

   
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
      
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score ,#comp-score{
    font-size: 4rem;

}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color:#0D0630 ;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.5rem;
    margin-top: 1rem;
    font-size: 22px;
    color:#384E77;
}